{
  "[html]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[css]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[less]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },
  "printWidth": 200,
  "eslintIntegration": false,
  "stylelintIntegration": true,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "spaceBeforeFunctionParen": false,
  "files.insertFinalNewline": true,
  "useTabs": false,
  "endOfLine": "auto",
  "ignorePath": ".gnore",
  "no-unused-vars": "off",
  "proseWrap": "preserve",
  "disableLanguages": ["vue"],
  "htmlWhitespaceSensitivity": "ignore",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "parser": "babylon",
  "requireConfig": false,
  "tslintIntegration": false
}
